
@model List<Author>


@*<div class="row">
    <div class="col-12">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 22rem;">
                <img src="https://source.unsplash.com/random/300x300?sig=1" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.AuthorName</h5>
                    <p class="card-text">@item.AuthorAbout</p>
                    <hr />
                    <div class="row">
                        <div class="col-6">
                            <a href="/Author/Update/@item.Id" class="btn btn-warning w-100">Update</a>
                        </div>
                        <div class="col-6">
                            <a href="/Author/Delete/@item.Id" class="btn btn-danger w-100">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>*@


<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Author Image</th>
            <th>Author Name</th>
            <th>Author About</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.Id</td>
            <td><img src="https://source.unsplash.com/random/100x100?sig=1" alt="Alternate Text" /></td>
            <td>@item.AuthorName</td>
            <td>@item.AuthorAbout</td>
            <td><a href="/Author/Update/@item.Id" class="btn btn-warning w-50">Update</a></td>
            <td><a href="/Author/Delete/@item.Id" class="btn btn-danger w-50">Delete</a></td>
        </tr>
        }
    </tbody>
</table>