
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model Author

@using (Html.BeginForm(MyActionName.Update.ToString(), "Author", FormMethod.Post))
{
    @Html.Label("Author Image")
    @Html.TextBoxFor(x => x.AuthorImage, new { @class = "form-control", @type = "file" })
    <br />

    @Html.ValidationMessageFor(x => x.AuthorName, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Author Name")
    @Html.TextBoxFor(x => x.AuthorName, new { @class = "form-control" })
    <br />

    @Html.ValidationMessageFor(x => x.AuthorAbout, "", new { @class = "text-danger" })
    <br />
    @Html.Label("Author About")
    @Html.TextAreaFor(x => x.AuthorAbout, new { @class = "form-control", @style = "height:200px;" })
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
}

